.title{
    font-family: fantasy;
    text-align: center;
}

.card{
    width: 350px;
    height: 380px;
    background-color: rgba(148, 107, 60, 0.644);
    border-radius: 20px;

}
.name{
    width: 350px;
    height: 42px;
    text-align: center;
    padding-top: 10px;
    color: rgb(167 233 233);
    font-size: fantasy;
}

.img{
    margin-top: 20px;

}


.detail{
    font-size: medium;
    height: 31px;
    margin-right: 35px;
    border-radius: 20px;
    font-family: fantasy;
    font-weight: bolder;
    color: rgb(36 46 36);

}
