.title{
    font-family: fantasy;
    text-align: center;
}

.card{
    width: 312px;
    height: 380px;

}
.name{
    text-align: center;
    padding-top: -1;
    margin: 0px;
    height: 42px;
    text-align: center;
    color: white;
    font-size: fantasy;
    font-family: cursive;
    background-color: rgb(245 29 3);
}

.name:hover{
    background-color: #28df07ea;
    transition: 0.5s;
}
.img {
    margin-bottom: -3px;
}

.ul{
    padding-left: -40px;
}
.detail{
    color: white;
    background-color: black;
    border-color: red;
    border-width: 2px;
    border: groove;
    margin: 0px;
    border-inline-start-style: inherit;
    border-color: red;
    border-block-start-style: inherit;
}

