.home{
    font-family: sans-serif ;
    padding-top: 30px;
    background-color: black;
}
.recipes{
  font-family: ui-serif;
  color: #070707;
  font-weight: revert;
  text-decoration-line: overline;
  margin-top: 40px;
  padding-top: 30px;

}
.link{
    text-decoration: none;
    color:initial;
    height: 350px;
    width: 350px;
}



.linkCreated{
    text-decoration: none;
    color:white;

}

.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.chill{
    display: flex;
    background-position: center;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
    width: 350px;
    height: 350px;
    padding-bottom: 50px;
    padding-left: 35px;


}

.container-home{
    padding-top: 30px;
    height: 450px;
    background-image: url(https://media.istockphoto.com/photos/large-panoramic-collection-fruits-vegetables-and-berries-picture-id1224407569?b=1&k=6&m=1224407569&s=170667a&w=0&h=ElXAcS0IzytPXhWqQ2oKPmMOvLQ1FKI-d1s5QtEB7lk=);
    background-repeat: no-repeat;
    background-size:cover
}

.middle{
  margin-top:40px;
    margin-left: 50%;
    transform: translate(-50%,-50%);
  }
  .btn {
    font-weight: bold;
    font-size: larger;
    text-align: center;
    margin-left: 150px;
    width: 200px;
    height: 30px; 
    position: relative; 
    display: block;
    color: black;
    font-size: 1;
    font-family: "montserrat";
    text-decoration: none;
    border: 2px solid;
    overflow: hidden;
    transition: 1s all ease;
    border-block-start-style: inherit;
    border-inline-start-style: inherit;
}
  .btn::before{
    background: #c10000;
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: -1;
    transition: all 0.6s ease;
  }
  
  .btn1::before{
    width: 0%;
    height: 100%;
  }
  
  .btn1:hover::before{
    width: 100%;
  }

  .container_bar{
    padding-left: 90px;

  }

#resume{
  font-size: unset;
    color: #000000;
    font-family: math;
    text-align: -webkit-left;
    margin-left: 150px;
    margin-right: 150px;
}
#container-title{
  margin-left: 130px;
  width: 80%;
  background-color: #0000003d;
  height: 250px;
}